@model KreirajTreneraViewModel
<div asp-validation-summary="All"></div>

<form asp-action="Kreiraj" asp-controller="Trener" method="post">

    <div class="div1">
        <label>Ime:</label>
        <br />
        <label>Prezime:</label>
        <br />
        <label>Obrazovanje:</label>
        <br />
        <label>Opis:</label>
        <br />
        <label>Link slike:</label>
    </div>
    <div class="div2">
        <input type="text" asp-for="Ime" />
        <span asp-validation-for="Ime"></span>
        <br />
        <input type="text" asp-for="Prezime" />
        <span asp-validation-for="Prezime"></span>
        <br />
        <select asp-items="Model.Obrazovanja" asp-for="ObrazovanjeID">
        </select>
        <span asp-validation-for="ObrazovanjeID"></span>
        <br />

        <input type="text" asp-for="Opis" />
        <span asp-validation-for="Opis"></span>
        <br />
        <input type="text" asp-for="Slika" />
        <span asp-validation-for="Slika"></span>
        <br />
    </div>


    <input type="submit" value="Sacuvaj" />

</form>

