@model KreirajKlijentaViewModel
<div asp-validation-summary="All"></div>

<form asp-action="Kreiraj" asp-controller="Klijent" method="post">

    <div class="div1">
        <label>Ime:</label>
        <br />
        <label>Prezime:</label>
        <br/>
        <label>Pol:</label>
        <br />
        <label>Kilaža:</label>
        <br />
        <label>Visina:</label>
        <br />
        <label>Odaberi grupu:</label>
    </div>
    <div class="div2">
        <input type="text" asp-for="Ime" />
        <span asp-validation-for="Ime"></span>
        <br/>
        <input type="text" asp-for="Prezime" />
        <span asp-validation-for="Prezime"></span>
        <br />
        <select asp-items="Model.Polovi" asp-for="PolID">
        </select>
        <span asp-validation-for="PolID"></span>
        <br />

        <input type="number" asp-for="Kilaza" />
        <span asp-validation-for="Kilaza"></span>
        <br />
        <input type="number" asp-for="Visina" />
        <span asp-validation-for="Visina"></span>
        <br />
        <select asp-items="Model.Grupe" asp-for="GrupaID">
        </select>
        <span asp-validation-for="GrupaID"></span>
        <br />
    </div>
    

    <input type="submit" value="Sacuvaj" />

</form>
