<div class="naslovna" >

    <h1>Igraj i pobedi!</h1>
    <h3>Dobrodošli na našu stranicu! Ovde možete naći sve korisne informacije vezane za rad naše teretane i prijaviti se da postanete deo nje! </h3>
    <br/>

    <br/>
    <div style="background-color: lightslategray; border-radius:5px; width:700px; border-bottom-style:solid; border-top-style:solid; border-bottom-color: white; border-top-color: white;">
        <h3 style="margin-left: 20px; margin-top: 15px; ">Započni dan treningom!!</h3>
        <p style="margin-left: 20px; margin-top: 5px;">Iskoristi priliku i prijavi se još danas. <br />Pošalji prijavu i postaješ član jedne od najurbanijih teretana u gradu! <button> <a class="nav-link text-dark" asp-area="" asp-controller="Klijent" asp-action="Kreiraj">Prijava</a> </button></p>

        <img src="https://media.gettyimages.com/id/1183038884/photo/view-of-a-row-of-treadmills-in-a-gym-with-people.jpg?s=612x612&w=gi&k=20&c=-udh0-LUuB1Mr1rF7D4nbuaUOJ_x6JvZCYoLdfOJF3w=" alt="slika1" style="width: 300px; height:200px; margin-left: 20px; margin-bottom: 30px;" />
        <img src="https://image.shutterstock.com/image-photo/woman-exercise-workout-gym-fitness-260nw-749969473.jpg" alt="slika2" style="width: 300px; height:200px; margin-left: 20px; margin-bottom: 30px; " />
        <br />
    </div>
    
    <br />
    <div style="background-color: lightslategray; border-radius:5px; width:600px; border-bottom-style:solid; border-top-style:solid; border-bottom-color: white; border-top-color: white;">
        <h3 style="margin-left: 20px; ">Pobednički tim!</h3>
        <p style="margin-left: 20px; margin-top: 5px;">Upoznaj se sa našim timom. <br />Stručni treneri koji će vas voditi putem do uspeha-> <button> <a class="nav-link text-dark" asp-area="" asp-controller="Trener" asp-action="Index">Treneri</a> </button></p>

        <img src="https://media.istockphoto.com/id/1090706878/vector/fitness-character-set-vector-design.jpg?s=1024x1024&w=is&k=20&c=7fjwaadILQU0FCm_srmtJqGKUNIs0AH2OWzBZY_zkV0=" alt="Treneri" style="width: 500px; height:300px; margin-left: 20px; margin-bottom: 30px;" />

    </div>
    
</div>
